/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************************************************************
GENERAL STYLES
******************************************************************/

/*Typography*/

body{
  color: #1D2547;
  font: 400 16px/1.5 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5 {
  font-weight: 400; 
  line-height: 1.2;
}
h1 {
    font-size: 60px;
}
h2{
    font-size: 30px;
    margin: 60px 0 0 0;
}  
h3{
    font-size: 20px;
}  
h4{
    font-size: 18px ;
}
h5{
    font-size: 16px;
}
p{
  margin-bottom: 20px;
}


/* Text */
.center{
  text-align: center;
}
.white{
  color: white;
}
.lightPurple{
  color: #C2C5DB;
}
.purple{
  color:#9F78FF;
}
.price{
  display: block;
}

/* Buttons and links*/
a{
  text-decoration: none;
  color: #1D2547;
}
a:hover{
  color: #9F78FF;
}
.primaryCTA{
    display: inline-block;
    width: fit-content;
    padding: 1.5% 3%;
    border: 1px solid #9F78FF;
    background-color: #9F78FF;
    border-radius: 15px 0 15px 0;
    color: white;
    margin: 10px 0;
}
.primaryCTA:hover{
  color: white;
  background-color: #a493e4;
  border: 1px solid #a493e4;
}
/* Logos and Icons*/
.logo {
  font-size: 20px;
  padding-right: 20px;
  font-size: 2em;
}

.cart{
  background-color: #9F78FF;
}



/*****************************************************************
Layout
******************************************************************/

/* site Wide*/
.innerContainer{
  width: 90%;
  margin: 0 auto;
}
section {
 margin: 0 0 8% 0;
}
/* Header*/
header{
  background-color: white;
  top: 0;
  z-index: 15;
  border-bottom: 1px solid #f6f6f6;
}
.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.headerMenu{
  display: flex;
  justify-content: flex-start;
  align-items:center;
}
.paddingRight{
  padding-right: 30px;

}
.headerSocials{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #9F78FF;
  border: 1px solid #9F78FF;
  border-radius: 50%;
  margin: 5px
}
.icon:hover{
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes spin{
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}
#menuIcon{
  display: none;
}
/* MobileHero*/
.mobileHero{
  display: none;
}
/* Product Grid*/
.productGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2%;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 4%;
  padding: 20px 0;
  height: fit-content;
}

.productColumn{
  opacity: 0;
  transform: translate(0, 15vh);
  transition: all 2s;
  border: 1px solid #f6f6f6;
  padding: 0 0 4% 0;
  margin-bottom: 6%;
  box-shadow: 5px 5px 15px #f6f6f6;

}
.productColumn.visible{
  opacity: 1;
  transform: translate(0, 0);

}


.productColumn.visible:hover{
  /* box-shadow: 0 0 15px lightgray; */
  box-shadow: 5px 5px 15px #dbdbdd;
 
}
.product{
  min-height: 600px;
  background:#e1dbdb;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Two Column Grid*/
  
.twoColGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2%;
}
.imgBoxLeft{
 grid-column-start: 1; 
 min-height: 500px;
 background: #e1dbdb;
 box-shadow: 30px -40px #9F78FF;
}
.imgBoxRight{
  grid-column-start: 2; 
  min-height: 800px;
  background: #e1dbdb;
  box-shadow: -30px 40px #9F78FF, 10px 40px #9F78FF;
 }
.contentBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15%;
  
}

.contentPadding {
  padding: 5% 0;
  margin: 0;
}

footer{
  background: #1c2546;
  color: #C2C5DB;
  padding: 3%;
}
.footerContainer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footerColumn{
  display: flex;
  flex-direction: column;
}
.footerSocialMenu{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.footerSocials{
  justify-content: center;
  border-radius: 50%;
  margin: 5px
}
.footerMenu{
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 gap: 10px;

}
/*****************************************************************
Modules
******************************************************************/
/* slider*/
.slider{
  min-height: 900px;
  /*background-color: #e1dbdb;*/
  background: linear-gradient(to right, rgba(144, 151, 204,1) 60%, rgba(144, 151, 204, .1)), url(assets/LANA-LIGHT-BLUE-BUTTON-HAT-LIFESTYLE-SHOT_e1342c47-dfcc-452f-9ddd-f19e9cf8c121_5000x.jpg) no-repeat;
  background-size: cover ;
  background-position: right;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.textColumn, .productTextColumn{
 height: fit-content;
 text-align: center;
 padding: 5% 0 0 0 ;
}



/*****************************************************************
Backgrounds
******************************************************************/
.homePageHero{
  background: url(assets/LANA-LIGHT-BLUE-BUTTON-HAT-LIFESTYLE-SHOT_e1342c47-dfcc-452f-9ddd-f19e9cf8c121_5000x.jpg) no-repeat;
  background-size: cover ;
  background-position: top;
}
#product1{
  background: url(assets/LORETTA-WHITE-PERCHER-HAT-EDITED_5000x.webp) no-repeat;
  background-size: cover ;
  background-position: top;
}

#product2{
  background: url(assets/NOVAK-BLACK-VEILED-BOATER-LIFESTYLE-SHOT-1_6b66dabc-0054-4dd3-867b-bd48b9c6c321_5000x.webp) no-repeat;
  background-size: cover ;
  background-position: left;
}
#product3{
  background: url(assets/derbyhat_3.webp) no-repeat;
  background-size: cover ;
  background-position: top;
}
#product4{
  background: url(assets/derbyhat_4.webp) no-repeat;
  background-size: cover ;
  background-position: top;
}
#product5{
  background: url(assets/derbyhat_small_2.jpg) no-repeat;
  background-size: cover ;
  background-position: top;
}
#product6{
  background: url(assets/ROSE-BUD-YELLOW-LEATHER-PERCHER-HAT-1_5000x.webp) no-repeat;
  background-size: cover ;
  background-position: top;
}
#product7{
  background: url(assets/VICTORIA-BERET-BLACK-EDITED_5000x.webp) no-repeat;
  background-size: cover ;
  background-position: top;
}
#product8{
  background: url(assets/PHILLIMORE-HEADBAND-LIFESTYLE-SHOT-2_453f5c93-9398-4819-9f45-959be997e7d6_5000x.webp) no-repeat;
  background-size: cover ;
  background-position: top;
}

#aboutUs{
  background: url(assets/matthew-hamilton-tNCH0sKSZbA-unsplash.jpg) no-repeat;
  background-size: cover ;
  background-position: top;
}
.brown{
  background-color: #FDECEF;
}
.gray{
  background-color: #c5d6ea;
}

/************************************************************
Media queries
************************************************************/

@media screen and (max-width: 800px){
  /*header*/
  .headerSocials,.headerLinks{
    display:none;
  }
  #menuIcon{
    display: inline;
    font-size: 1.5rem;
  }
    /*hero and about us*/
  .twoColGrid{
    display: block;
  }
  .hero{
    display: none;
  }
  .mobileHero{
    display: flex;
    height: 100vh;
    position: relative;
    top:0;
  }
  .textColumn{
    height: 80vh;
    justify-content: center;
    align-content: flex-end;
    padding: 5% 0 0 0 ;
    color: white;
  }
  /*product columns*/
  .productGrid{
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 0;
  }
  .product{
    min-height: 60vh;
    background:#e1dbdb;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}